*{
    margin: 0cap;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;

}
body{
    background-color: black;
}
.container{
    height: 500px;
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg ,#00feba , #5b548a);
    color: #fff;
    margin: 100px auto 0 ;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    /* display: flex;
    justify-content: center;
    align-items: center; */

}

.search {
    width: 90%;
    /* border-radius: 10px;
    margin-right: 30px; */
     display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 20px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
.search i{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background: #ebfffc;
    color: #555;
    cursor: pointer;

}
.weather-icon{
    width: 170px;
    margin-top: 30px;

}
.weather h1{
font-size: 80px;
font-weight: 500;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
    }

    .details{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        margin-top: 30px;
    }

.col{
    display: flex;
    align-items: center;
    text-align: left;
}

.col img{
    width: 40px;
    margin-right: 10px;
}

.humidity , .wind{
    font-size: 28px;
    margin-top: -6px;
}